.forgot-container {
  width: 90vw;
  height: 90vh;
  h3 {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
    color: $black;
  }
}
@media (max-width: 541px) {
  .forgot-container {
    padding: 1rem;
    h3 {
      position: static;
    }
  }
}
