.dark-theme .tnso-textarea .ant-input {
  color: #ffffff !important;
  border-radius: 0.25rem !important;
  border: 1px solid #142248 !important;
  background-color: #131b32 !important;
  resize: none;
}
